[project]
	description = Example of integrating Spring security in a Wicket web application.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Dejan (dlinkic)
[access "refs/for/refs/*"]
	read = group user/Dejan (dlinkic)
	push = group user/Dejan (dlinkic)
	label-Code-Review = -2..+2 group user/Dejan (dlinkic)
	label-Verified = -1..+1 group user/Dejan (dlinkic)
	rebase = group user/Dejan (dlinkic)
	removeReviewer = group user/Dejan (dlinkic)
	submit = group user/Dejan (dlinkic)
[access "refs/heads/*"]
	read = group user/Dejan (dlinkic)
	create = group user/Dejan (dlinkic)
	push = +force group user/Dejan (dlinkic)
	pushMerge = group user/Dejan (dlinkic)
[access "refs/tags/*"]
	push = +force group user/Dejan (dlinkic)
	pushTag = group user/Dejan (dlinkic)
	pushSignedTag = group user/Dejan (dlinkic)
